<header>
	<mat-toolbar color="primary">
		<mat-toolbar-row>
<mat-icon aria-label="heart icon">favorite</mat-icon>
			<a href="#" class="logo">
				
				{{ appTitle }}
			</a>

			<span class="spacer"></span>
    <nav>
      <ul>
       
        <li>
            <a href="#" routerLink="/products">Products</a>
        </li>
        <li>
          <a href="#" routerLink="/categories">Categories</a>
      </li>
      <li>
        <a href="#" routerLink="/login">Login</a>
    </li>
      </ul>           
    </nav>
   
  </mat-toolbar-row>

</mat-toolbar>

 
</header>