<h3>Categories</h3>
<mat-progress-bar *ngIf="!!loading" mode="indeterminate"></mat-progress-bar>
<div *ngIf="categories$ | async as categories">
  <h4 *ngIf="!categories.pagination.total_count">No category to show.</h4>
  <mat-grid-list *ngIf="!!categories.pagination.total_count" cols="4" rowHeight="2:1" gutterSize="8px">
    <mat-grid-tile [routerLink]="['/products']" [queryParams]="{cat: category.name}"
      routerLinkActive="router-link-active" *ngFor="let category of categories.data" class="gridItem">
      <mat-grid-tile-header title="{{ category.name }}"><span>{{ category.name }}</span></mat-grid-tile-header>
      <p></p>
      <mat-grid-tile-footer>
        <span class="description">{{ category.description }}</span>
      </mat-grid-tile-footer>
    </mat-grid-tile>

  </mat-grid-list>
</div>