.mat-grid-tile.gridItem {
      
    background: rgb(238, 238, 238);
    


    
        cursor: pointer;
        -webkit-user-select: none;  /* Chrome all / Safari all */
        -moz-user-select: none;     /* Firefox all */
        -ms-user-select: none;      /* IE 10+ */
        user-select: none;          /* Likely future */   
        outline: none;   
    
    .mat-grid-tile-header {
        background: transparent;
        color: purple !important;

        font-weight: bold;
        font-size: 1.2rem;

        span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .mat-grid-tile-footer {
        //background: rgba(0,0,0,.1);
        span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    p {
        padding: 0 16px;
    }
    p.code {
        text-transform: uppercase;
        font-size: 0.9rem;
        flex-grow: 1;
    } 
  }