
  <mat-card class="product-card"  *ngIf="product$ | async as product">
      <mat-card-header>
        <div mat-card-avatar style="box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);" [style.background-color]="product.color"></div>
        <mat-card-title>{{ product.name }}</mat-card-title>
        <mat-card-subtitle><span *ngIf="!!product.code">code: <strong>{{ product.code }}</strong> </span>  <span *ngIf="!!product.weight"> | weight: <strong>{{ product.weight }}</strong></span></mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="product image">
      <mat-card-content>
        <p>
            {{ product.description }}
        </p>
        <mat-list style="display: flex">
            <mat-list-item >
              <h4 mat-line>Created At</h4>
              <p mat-line> {{product.created_at | date}} </p>
            </mat-list-item>
            
            <mat-list-item >
                <h4 mat-line>Updated At</h4>
                <p mat-line> {{product.updated_at | date}} </p>
            </mat-list-item>
            
          </mat-list>

          <mat-divider></mat-divider>

          <h3 class="mat-h3 mat-subheading-2">Categories:</h3>
          <mat-chip-list aria-label="categories" *ngIf="!!product.categories">
              <mat-chip *ngFor="let category of product.categories" > {{ category.name }} </mat-chip>
              
          </mat-chip-list>

      </mat-card-content>
      
    </mat-card>